body *::selection {
  background-color: #c6a94e6f;
  color: #233d25;
}

footer {
  padding: 0.5em;
}

#optiuni {
  padding: 2em;
}

.logo-small {
  max-width: 10em;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.c-item {
  height: 500px;
}
