<nav class="navbar navbar-expand-lg navbar-dark bg-body-primary sticky-top" style="background-color: #0e1116;">
  <div class="container-fluid">
      <a class="navbar-brand" href="/home">
          <img src="/static/logo.png" alt="logo" width="100" height="auto">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
              <a class="nav-link btn btn-primary me-2" aria-current="page" href="/home">Home</a>
              <a class="nav-link btn btn-primary me-2" href="/masini">Mașini</a>
              <a class="nav-link btn btn-primary me-2" id="btn-login" href="/utilizator/login">Log in</a>
              <a class="nav-link btn btn-primary me-2" id="btn-user" href="/utilizator/home">Contul meu</a>
          </div>
      </div>
  </div>
</nav>
